:root {
  --bg-color-1: #060608;
  --bg-color-2: rgba(55,55,55,.2);
  --primary-color: #d72323;
  --secondary-color: #11b779;
}
html {
  scroll-behavior: smooth;
}
/*CSS resets*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style-type: none;
}
a {
  text-decoration: none;
  color: var(--primary-color);
}
a:hover {
  text-decoration: none;
  color: rgba(106, 106, 235, 0.5);
}
body {
  background-color: var(--bg-color-1);
  color: var(--primary-color);
}
/*NAVEGACION*/
nav {
  background-color: var(--bg-color-2);
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 1rem 2rem;
  box-shadow: 0px 5px 5px 5px var(--bg-color-2);
  margin-bottom: 1rem;
}
nav h1{
    margin-right: 1rem;
    align-self: center;
}
.navigation{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    justify-content: end;
}
.link{
    border-radius: 5px;
}
.burger-menu{
    background-color: var(--bg-color-2);
    color: var(--primary-color);
    font-size: 2rem;
    border: none;
    cursor: pointer;
    display: none;
}
@media (max-width: 480px){
    nav{
        flex-direction: row;
        align-items: center;
    }
    nav h1{
        font-size: 15px;
    }
    nav ul{
        position: fixed;
        
        top: 100px;
        left: 40%;
        transform: translateX(300%);
        transition: transform 0.5s ease-in;
    }
    .navigation{
        display: flex;
        flex-direction: column;
        background-color: var(--bg-color-2);
        box-shadow: 0px 15px 15px 15px var(--bg-color-2);
    }
    nav ul.show {
        transform: translateX(0);
    }
    .burger-menu{
        display: block;
        background-color: transparent;
    }
}
